.about {
    // height: 70vh;
    margin-top: rem(100px);
    display: flex;
    padding-right: 45px;
    padding-left: 45px;

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: rem(30px);
        max-height: 250px;
    }
}

.about img {
    height: 40vmin;
    border-radius: 50%;
    margin: 20px 0;
    border: 1vh solid #232d3622;
}

.skills {
    margin: 20px 50px 0 50px;

    &-container {
        margin: rem(30px);
        // display: flex;
        // justify-content: space-between;
        margin-bottom: rem(70px);
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
        grid-template-columns: repeat(14, 1fr);
        grid-gap: rem(20px);

        img {
            height: rem(60px);
        }
    }
}

@media (max-width: 1024px) {

    // @media (max-width: $tablet) {
    .skills-container {
        grid-template-columns: repeat(7, 1fr);
        grid-gap: rem(10px);
    }
}

@media (max-width: 640px) {

    // @media (max-width: $mobile) {
    .about {
        img {
            height: 30vmin;
            border: 0.5vh solid #232d3622;
        }

        p {
            font-size: rem(12px);
            margin-top: rem(10px);
            line-height: rem(18px);
        }
    }
}


@media (max-width: 440px) {
    .about {
        padding-right: 5px;
        padding-left: 5px;

        img {
            height: 20vmin;
            border: 0.3vh solid #232d3622;
        }
    }

    .skills-container {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: rem(10px);
    }
}

@media (max-width: 376px) {
    .skills-container {
        img {
            height: rem(40px);
        }
    }
}