.contact {
    margin-bottom: rem(40px);

    &-form-submit {
        color: #fff;
        max-width: rem(200px);
        cursor: pointer;
        background: #00cdb9;
        letter-spacing: 1px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;

        margin: auto;
        margin-top: rem(30px);
        display: block;
    }

    &-info {
        margin-top: 40px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;

        span {
            font-size: 16px;
        }
    }

    .section-title {
        padding-bottom: 40px;
    }
}

@media (max-width: 440px) {
    form {
        width: 350px;
    }
}

@media (max-width: 376px) {

    form {
        width: 330px;

        &-submit {
            margin-top: 50px;
        }
    }
}