.navbar {
    display: none;
    // display: block;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 13;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    height: 70px;

    &-container {
        width: 100%;
        padding-right: 45px;
        padding-left: 45px;
        // margin-right: auto;
        // margin-left: auto;
    }

    &-logo {
        cursor: pointer;
        // color: #fffff;
        height: rem(70px);
        // font-size: 2rem;
        // font-family: euro-bold, sans-serif;
        padding-top: rem(4px);
        float: left;
    }

    &-desktop {
        float: right;
        padding-top: rem(15px);

        a {
            margin-right: 22px;
            display: block;
            min-width: 70px;
            float: left;
            // border-bottom: 3px solid transparent;
            line-height: 37px;

        }
    }

    // .menu-btn {
    //     display: none;
    // }
}

// nav section {
// padding-top: rem(15px);
// }

nav section a {
    color: #000000;
    // margin-right: 22px;
    font-size: 15px;
    cursor: pointer;
    // display: block;
    // min-width: 70px;
    text-align: center;
    // border-bottom: 3px solid transparent;
    // float: left;
    // line-height: 37px;

}

nav section a:hover {
    color: #00cdb9;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

nav section a.active {
    color: #00cdb9;
    // color: #7463E0;
}